.App {
  text-align: center;
  font-family: aktiv-grotesk, sans-serif;
  background-color: rgb(247, 243, 243);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --bg: url("https://media.istockphoto.com/vectors/hand-opening-silver-cloche-vector-id1135322593?k=20&m=1135322593&s=612x612&w=0&h=X7V-kuSCuZUwqBRYSomekD9RS98_Ba3wL-cmw8ZGDS0=");
}

#homepage-jumbotron {
  width: 100%;
  height: 35vh;
  background-color: rgb(138, 7, 7);
}

#homepage-jumbotron h1 {
  color: white;
  text-shadow: 2px 2px black;
}

#homepage-jumbotron p {
  color: white;
  text-shadow: 1px 1px black;
}

.homepage-card-section {
  margin-top: 7rem;
}

.homepage-card-section-2 {
  margin-top: 2rem;
}

.form {
  background-color: rgb(59, 58, 58);
  color: rgb(218, 216, 216);
  padding: 2rem;
  margin: 2rem;
  text-align: left;
}

.form h3 {
  text-align: center;
}

.restaurant-card {
  font-family: Cursive;
  background-color: white;
  display: inline-block;
  margin: 10px;
  width:350px;
  height: 300px;
  color: #282c34;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
}

.restaurant-card:hover{
  box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
}

.restaurant-card img {
  border-radius: 5px;
  width: 350px;
  height: 190px;
}

.restaurant-card h5 {
  padding: 0.2rem;
  font-size: 1rem;
  font-weight: bold;
}

.restaurant-card h6 {
  font-size: 1rem;
  font-weight: bold;
}

.most-reviewed-card {
  font-family: Cursive;
  background-color: white;
  display: inline-block;
  margin: 0 0 0 15px;
  width:300px;
  height: 250px;
  color: #282c34;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
}

.most-reviewed-card img {
  border-radius: 5px;
  width: 300px;
  height: 170px;
}

.most-reviewed-card h5 {
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 10px;
}

.most-reviewed-card:hover{
  box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
}


.center-line {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#restaurant-filter input {
  margin: 1rem;
}

.main-video {
  background: white;
  height: 60vh;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 5rem;

}

.player-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.restaurant-page {
  font-family: Cursive;
  padding: 1rem;
}

.vl {
  border-left: 2px solid rgb(138, 7, 7);
  height: 100vh;
}

#restaurant-filter input {
  width: 300px;
  height: 40px;
  padding: 0 20px;
}

.reviews-container {
  font-family: Helvetica, sans-serif;
}

.review-page {
  background-color: darkgrey;
  margin: 1rem;
  padding: 0.5rem;
  text-align: left;
}

.restaurant-page img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 800px;
  height: auto;
}

.review-section {
  text-align: left;
}

.comment-box {
   background-color: white;
   position: relative;
   margin: 10px;
   padding: 10px;
   text-align: left;
}

.comment-box img {
  position: absolute;
}

.comment-box p {
  padding-left: 95px;
  font-size: 15px;
}

.comment-box h5 {
  font-weight: bold;
  padding-left: 95px;
  font-size: 20px;
}

.review-page {
  padding: 10px;
  margin: 10px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 11px;
  font-weight: 500;
  padding: 10px;
}
